mat-toolbar {
  background: #004a9f;
  color: white;
  .spacer {
    flex: 1 1 auto;
  }
}

mat-sidenav {
  margin: 16px;
  width: 210px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 150px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  overflow: hidden;
}

mat-sidenav-container {
  height: calc(100vh - 85px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  background-color: #004a9f;
  height: 25px;
}

