<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span>Elysium</span>
  <span class="spacer"></span>
  <button mat-button btn-sm *ngIf="authService.isLoggedIn" (click)="authService.SignOut()">
    Logout
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <mat-divider></mat-divider>
    <span  *ngIf="authService.isLoggedIn">
      <button mat-button class="menu-button" routerLink="/analytics">
        <mat-icon>timeline</mat-icon>
        <span>Analytics</span>
      </button>
      <button mat-button class="menu-button" routerLink="/communications">
        <mat-icon>question_answer</mat-icon>
        <span>Communications</span>
      </button>
      <button mat-button class="menu-button" routerLink="/feeds">
        <mat-icon>speaker_notes</mat-icon>
        <span>Feeds</span>
      </button>
      <button mat-button class="menu-button" routerLink="/marketing">
        <mat-icon>assessment</mat-icon>
        <span>Marketing</span>
      </button>
      <button mat-button class="menu-button" routerLink="/offerings">
        <mat-icon>payment</mat-icon>
        <span>Offerings</span>
      </button>
      <button mat-button class="menu-button" routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </span>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>