<div class="mat-elevation-z8">
    <div class="row disFlex">
        <mat-form-field appearance="fill">
            <textarea matInput [formControl]="postControl" placeholder="Post To Feed">
                </textarea>
        </mat-form-field>
        <button class="margin10" mat-raised-button color="primary" (click)="post()">Post
        </button>
    </div>
</div>
<mat-divider class="margin10"></mat-divider>
<div class="mat-elevation-z8 flow">
    <app-post *ngFor="let p of feedData" [post]="p" class="margin10"></app-post>
</div>