<div class="mat-elevation-z8">
    <div class="row disFlex">
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select [formControl]="saleControl">
                <mat-option *ngFor="let x of saleTypes" [value]="x.id">{{x.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Users</mat-label>
            <mat-select [formControl]="userControl" multiple>
                <mat-option *ngFor="let x of userTypes" [value]="x.id">{{x.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Products</mat-label>
            <mat-select [formControl]="productControl" multiple>
                <mat-option *ngFor="let x of products" [value]="x.id">{{x.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="width25">
            <input matInput type="datetime-local" placeholder="Send Date" [formControl]="timeControl">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <textarea matInput [formControl]="messControl"></textarea>
        </mat-form-field>
    </div>
    <div align="end">
        <mat-checkbox [(ngModel)]="sendFeed">Add to Feed</mat-checkbox>
        <button class="margin10" mat-raised-button color="primary" (click)="add()">Add</button>
    </div>
</div>
<mat-divider class="margin10"></mat-divider>
<div class="mat-elevation-z8 flow">
    <table mat-table [dataSource]="tableData" >
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="userlist">
            <th mat-header-cell *matHeaderCellDef> User List </th>
            <td mat-cell *matCellDef="let element"> {{element.userList}} </td>
        </ng-container>
        <ng-container matColumnDef="products">
            <th mat-header-cell *matHeaderCellDef> Products </th>
            <td mat-cell *matCellDef="let element"> {{element.products}} </td>
        </ng-container>
        <ng-container matColumnDef="sendDate">
            <th mat-header-cell *matHeaderCellDef> Send Date </th>
            <td mat-cell *matCellDef="let element"> {{element.sendDate | date : 'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef class="width50"> Message </th>
            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>