table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .disFlex {
    display: flex;
  }
  
  mat-form-field,
  mat-checkbox {
    margin: 10px;
  }
  
  ::ng-deep .mat-select-panel {
    min-width: 100% !important;
    margin-left: 30px !important;
    margin-top: 40px;
  }
  
  .margin10 {
    margin: 10px;
  }
  
  .width25 {
    width: 25%;
  }
  
  .width50 {
    width: 50%;
  }
  
  .flow {
    overflow: auto !important;
    height: 78%;
  }