  <div>
    <mat-form-field appearance="fill">
      <input matInput type="text" matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <button mat-button mat-raised-button color="primary" (click)="authService.ForgotPassword(email)">
      Reset Password
    </button>
    <button mat-button mat-raised-button routerLink="/sign-in">
      Go back to Log In
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>