<div class="pad">
    <div class="row disFlex">
        <div class="width40">
            <span class="circle">
                <img *ngIf="post?.profilePhoto" src={{post?.profilePhoto}}>
            </span>
            {{post?.name}}: {{post?.postText}}
        </div>
        <div class="imgPost">
            <img *ngIf="post?.postPhoto" src={{post?.postPhoto}}>
        </div>
    </div>
    <div class="row" align="end">
        <button mat-button class="menu-button">
            <mat-icon>thumb_up</mat-icon>
            <span>Like {{post?.likeCount}}</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>comment</mat-icon>
            <span>Comment</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>share</mat-icon>
            <span>Share</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</div>