.pad {
    padding: 10px;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;

    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

.spacer {
    flex: 1 1 auto;
}

mat-icon {
    margin-right: 10px;
}

.disFlex {
    display: flex;
  }

  .width40 {
    width: 40%;
  }

  .imgPost {
      img {
          height: 300px;
          width: 300px;
      }
  }