<div>
  <mat-form-field appearance="fill">
    <input matInput type="text" matInput placeholder="Username" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput type="text" matInput placeholder="Password" [(ngModel)]="pw">
  </mat-form-field>
  <button mat-button mat-raised-button color="primary" (click)="authService.SignUp(name, pw)">
    Sign Up
  </button>
  <button mat-button mat-raised-button routerLink="/forgot-password">
    Forgot Password?
  </button>
  <button mat-button mat-raised-button (click)="authService.GoogleAuth()">
    Continue with Google
  </button>
  <button mat-button mat-raised-button routerLink="/sign-in">
    Already have an account?
  </button>
</div>