.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;

    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

.disFlex {
    display: flex;
    //height: 100%;
    span {
        margin: 10px;
    }
  }