<div class="disFlex">
    <span class="circle">
        <img *ngIf="profile?.photo" src={{profile?.photo}}>
    </span>
    <span>
        {{profile.name}}
    </span>
    <span>
        {{profile.bio}}
    </span>
</div>