<div>
  <mat-form-field appearance="fill">
    <input matInput type="text" matInput placeholder="Username" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput type="text" matInput placeholder="Password" [(ngModel)]="pw">
  </mat-form-field>
  <button mat-button mat-raised-button color="primary" (click)="logIn()">
    Login
  </button>
  <button mat-button mat-raised-button routerLink="/forgot-password">
    Forgot Password?
  </button>
  <button mat-button mat-raised-button (click)="authService.GoogleAuth()">
    Log in with Google
  </button>
  <button mat-button mat-raised-button routerLink="/register-user">
    Don't have an account? Sign Up
  </button>
</div>